@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@font-face {
  font-family: "Myfont";
  src: url("../../font/Moyko.ttf");
}
*, html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../imgs/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

section {
  display: inline-block;
  height: 100%;
}
section h1 {
  width: auto;
  height: auto;
  display: block;
  margin-top: 8%;
  margin-left: 10%;
  font-family: Myfont, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 76px;
  color: white;
}
section .mainseconde {
  margin-left: 10%;
}
section .mainseconde .secondary {
  width: 120px;
  padding: 10px;
  height: auto;
  display: inline-block;
  margin-top: 5%;
  background: rgba(86, 49, 45, 0.9);
  border: 1px solid #982424;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}
section .mainseconde .secondary:hover {
  text-decoration: underline;
  background-color: white;
  color: rgba(86, 49, 45, 0.9);
  transition: ease-in-out 0.8s;
}
section .firstcontainer {
  margin-left: 7%;
  display: flex;
  width: 650px;
  background: rgba(86, 49, 45, 0.9);
  border-radius: 10px;
  padding: 20px;
}
section .firstcontainer .secondcontainer {
  align-items: center;
  padding: 20px;
  background: rgba(152, 36, 36, 0.72);
  border: 5px solid #982424;
  box-sizing: border-box;
  border-radius: 10px;
}
section .firstcontainer .secondcontainer .content {
  padding: 20px;
  color: white;
  font-family: Oswald, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.last {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  display: inline-block;
  float: right;
}
.last .form {
  padding-left: 50px;
  padding-right: 50px;
}
.last .form .logo {
  display: flex;
}
.last .form h3 {
  color: white;
  font-family: Oswald, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.last .form h4 {
  color: white;
  font-family: Oswald, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.last .form form {
  color: white;
  font-family: Oswald, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}
.last .form form input {
  background-color: rgba(0, 0, 0, 0.1);
  height: 25px;
  color: white;
}
.last .form button {
  width: 250px;
  height: 60px;
  background: #982424;
  border-radius: 19px;
  font-family: Myfont, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
}

.last .form button a, .footer a {
  text-decoration: none;
  color: white;
}

.last .form .footer {
  color: white;
  margin-top: 45px;
  padding-bottom: 10px;
}

footer {
  display: flex;
  vertical-align: middle;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer img, footer h3 {
  display: flex;
  vertical-align: middle;
  color: white;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
