{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <form action="{{ path('create_game') }}" method="post">
        <label for="user2">Recherchez le pseudo de votre adversaire :</label>
        <input type="text" name="user2">

        <button type="submit">Commencer la partie</button>

    </form>
{% endblock %}